---
title: LibreTuner - Free and open source engine tuning software
layout: default
---


<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Free and open source engine tuning software</h1>
        <p class="splash-subhead">
            Download
        </p>
        <div id="downloads">
            <div id="desktop-downloads">
                <a href="#" class="pure-button pure-button-primary downloadbutton">
                	<svg aria-hidden="true" height="1.688em" viewBox="0 0 24 24" width="1.688em">
						<path d="{% include _icons/windows %}" />
					</svg>
                	Windows
            	</a>
                <a href="#" class="pure-button pure-button-primary downloadbutton">
                	<svg aria-hidden="true" height="1.688em" viewBox="0 0 24 24" width="1.688em">
						<path d="{% include _icons/linux %}" />
					</svg>
                	Linux
                </a>
                <a href="#" class="pure-button pure-button-primary downloadbutton">
                	<svg aria-hidden="true" height="1.688em" viewBox="0 0 24 24" width="1.688em">
						<path d="{% include _icons/macos %}" />
					</svg>
                	macOS
                </a>
                <a href="#" class="pure-button pure-button-primary downloadbutton">
                	<svg aria-hidden="true" height="1.688em" viewBox="0 0 24 24" width="1.688em">
						<path d="{% include _icons/android %}" />
					</svg>
                	Android
                </a>
            </div>
        </div>
    </div>
</div>


<div class="content-wrapper">
	<div class="content">
		<h2 class="content-head is-center">Why use LibreTuner?</h2>

		<div class="pure-g">
			<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

				<h3 class="content-subhead">
					<i class="fa fa-rocket"></i>
					Fast
				</h3>
				<p>
					LibreTuner is written in Rust to achieve maximum performance while ensuring safety, keeping your ECU safe from random crashes while reflashing.
				</p>
			</div>
			<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
				<h3 class="content-subhead">
					<i class="fa fa-mobile"></i>
					Cross Platform
				</h3>
				<p>
					LibreTuner is designed to work on most popular platforms including Windows, Linux, macOS, and soon, Android. Not every platform supports the same capabilities and flashing is limited to Windows and Linux.
				</p>
			</div>
			<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
				<h3 class="content-subhead">
					<i class="fa fa-th-large"></i>
					Extensible
				</h3>
				<p>
					Definition files use a simple YAML format that's easy to use so you don't have to read large manuals. 
				</p>
			</div>
			<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
				<h3 class="content-subhead">
					<i class="fab fa-osi"></i>
					Open Source
				</h3>
				<p>
					LibreTuner is built from the contributions of developers who care about providing enthusiasts with a reliable method of tuning.
				</p>
			</div>
		</div>
	</div>

	<div class="ribbon l-box-lrg pure-g">
		<div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
			<img width="300" alt="File Icons" class="pure-img-responsive" src="img/common/file-icons.png">
		</div>
		<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
			<h2 class="content-head content-head-ribbon">A suite of tools</h2>

			<p>
				LibreTuner provides an entire suite of tools needed to tune and diagnose your car including a ROM downloader, tune editor, ROM flashing utility, diagnostic trouble code scanner, and datalogging utilities.
			</p>
		</div>
	</div>

	<div class="content">
		<h2 class="content-head is-center">More information</h2>

		<div class="pure-g">
			<div class="l-box-lrg pure-u-1 pure-u-md-2-5">
				<form class="pure-form pure-form-stacked">
					<fieldset>

						<label for="name">Your Name</label>
						<input id="name" type="text" placeholder="Your Name">


						<label for="email">Your Email</label>
						<input id="email" type="email" placeholder="Your Email">

						<label for="password">Your Password</label>
						<input id="password" type="password" placeholder="Your Password">

						<button type="submit" class="pure-button">Sign Up</button>
					</fieldset>
				</form>
			</div>

			<div class="l-box-lrg pure-u-1 pure-u-md-3-5">
				<h4>Support</h4>
				<p>
					You can usually ping us on the <a href="https://discord.gg/QQvX2rB">Discord server</a>. You can also reach us by contacting <a href="mailto:support@libretuner.org?Subject=Support">support@libretuner.org</a>.
				</p>

				<h4>Contributing</h4>
				<p>
					Feel free to submit a pull request to one of the various <a href="https://github.com/Libretuner">respositories on Github</a>. Any contributions are welcomed including documentation, this website, definitions, and the main program.
				</p>
			</div>
		</div>

	</div>

</div>