<header id="heading">
    <div class="alert alert-warning" role="alert">
        This project is no longer maintained. It really is not in any usable state - please do not waste your time.
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <svg aria-hidden="true" height="1.688em" viewBox="0 0 64 64" width="1.688em" style="fill: white;">
                    <path d="{% include _icons/libretuner %}" />
                </svg>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a href="#" class="nav-link">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/LibreTuner/LibreTuner/wiki" class="nav-link">Manual</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.github.com/LibreTuner/LibreTuner" class="nav-link">Source</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.github.com/LibreTuner/LibreTuner" class="nav-link">Contribute</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.github.com/LibreTuner/LibreTuner/issues" class="nav-link">Issues</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://discord.gg/M6bH458" class="nav-link">Chat</a>
                    </li>
                </ul>
                <ul class="navbar-nav flex-row ml-auto my-2 my-lg-0">
                    <a class="btn btn-secondary" href="https://github.com/LibreTuner/LibreTuner/releases">Download</a>
                </ul>
            </div>
        </div>
    </nav>
</header>
